{% extends 'base.html.twig' %}

{% block title %}
    <h1>Create Comment</h1>
{% endblock %}

{% block body %}
    <div class="container text-center">
        <form method="post" class="form-inline mt-5" style="width: 80%!important">
            {{ form_start(form) }}
            {{ form_row(form._token) }}
            {{ form_widget(form.textComment ) }}

            <div class="form-group">
                <button class="btn" type="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}