<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheet %}  <link href="{{ asset('style/style.css') }}" rel="stylesheet" /> {% endblock %}

    </head>
    <body>
    <div>
        {% block leftpanel %}{% endblock %}
    </div>
    <div>
        {% block body %}{% endblock %}

    </div>

    {% block javascripts %}{% endblock %}
    </body>

</html>
