<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block title %}<title>Welcome! </title> {% endblock %}
        <link rel="stylesheet" href="{{ asset('style/style.css') }}">
        {% block stylesheet %}  {% endblock %}
    </head>
    <body>


    <div>
    {% block menu %}
        <ul id="menu" >
            <li><a href="/">Accueil</a></li>
            <li><a href="{{ path('goodConsult') }}">Visualiser les offres</a></li>
            <li><a href="{{ path('goodCreate') }}">Créer une offre</a></li>
            <li><a href="{{ path('app_register') }}">Devenir hôte</a></li>
        </ul>
    {% endblock %}
    </div>

    {% block ban %} {% endblock %}

    {% block body %} {% endblock %}

    {% block javascripts %}{% endblock %}
    </body>

</html>
