<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block title %}<title>Welcome!</title>{% endblock %}
        {% block stylesheet %} {# <link href="{{ asset('style/style.css') }}" rel="stylesheet" /> #}{% endblock %}

    </head>
    <body>

    {% block menu %}
        <div id="menu" style="">
            <a href="#">Devenir hôte</a>
            <a href="#">Aide</a>
            <a href="{{ path('app_register')}}">Inscription</a>
            <a href="{{ path('login')}}">Connexion</a>
            <a href="{{ path('app_logout')}}">Déconnexion</a>
        </div>
    {% endblock %}

    <div>
        {% block body %}{% endblock %}
    </div>

    {% block javascripts %}{% endblock %}
    </body>

</html>
